@charset "UTF-8";
html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: normal;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #f9fbfd;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  background-color: transparent;
  padding: 2px 30px;
  z-index: 152;
  transition: background-color 0.25s linear;
}
.header_logo img {
  max-width: 100%;
  height: auto;
  cursor: pointer;
}
.header_ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header_ul a {
  text-decoration: none;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 19px;
  text-align: center;
  color: white;
}
.header_menuitem {
  border-radius: 20px;
  padding: 5px 10px;
  transition: linear 0.25s;
}
.header_menuitem:hover {
  background-color: #df3367;
}
.header_menuitem:hover a {
  color: white;
}
.header-btn {
  align-items: center;
  border-radius: 2rem;
  color: #ffffff;
  display: flex;
  font-family: "Open Sans";
  font-size: 1.4rem;
  font-weight: 600;
  justify-content: center;
  line-height: 1.9rem;
  text-align: center;
  padding: 0.8rem 3rem;
  border: none;
  background-color: transparent;
  border: 0.1rem solid #ffffff;
  transition: all 0.25s linear;
  cursor: pointer;
}
.header-btn:hover {
  background-color: #df3367;
  border: #df3367;
}

.scroll ul a {
  color: black;
}

.logo-red,
.logo-white {
  display: none;
}

.btnactive {
  background-color: #df3367;
  border: #df3367;
}

.logoactive {
  display: block;
}

.fistpage {
  width: 100%;
  height: 100vh;
  background-image: url(https://static.showit.co/1200/NZAkkof3Q-q7NLNCCjbpCg/52171/20190811_0559_rsc_5750.jpg);
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}

.fistpage::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Màu đen với độ trong suốt 0.5 */
}

.secondpage {
  width: 100%;
  height: 100vh;
}

.dropdown__wrapper {
  width: 240px;
  top: 8.5rem;
  right: 1rem;
  position: fixed;
  border-radius: 8px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  gap: 4px;
  animation: fadeOutAnimation ease-in-out 0.3s forwards;
  background-color: #ffffff;
  z-index: 10;
}
.dropdown__group {
  padding: 12px;
}
.dropdown__group-username {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 1.9rem;
  line-height: 2.3rem;
  color: #000000;
}
.dropdown__group-email {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.5rem;
  color: #506690;
}
.dropdown-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.dropdown-btn button {
  text-wrap: nowrap;
  width: 100%;
  border: none;
  background-color: transparent;
  text-align: left;
  padding: 0.75rem 1.5rem;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.6rem;
  color: #000000;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.125);
  cursor: pointer;
}
.dropdown-btn button span {
  margin-left: 0.75rem;
}
.dropdown-btn button:hover {
  color: #df4759;
}

.dropdown__wrapper--fade-in {
  animation: fadeInAnimation ease-in-out 0.3s forwards;
}

.none {
  display: none;
}

.hide {
  opacity: 0;
  visibility: hidden;
  animation: fadeOutAnimation ease-in-out 0.3s forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
    visibility: hidden;
    width: 160px;
  }
  100% {
    opacity: 1;
    visibility: visible;
    width: 240px;
  }
}
@keyframes fadeOutAnimation {
  0% {
    opacity: 1;
    width: 240px;
    visibility: visible;
  }
  100% {
    opacity: 0;
    width: 160px;
    visibility: hidden;
  }
}

/*# sourceMappingURL=style.css.map */
