html {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
input,
textarea,
select,
button {
  outline: none;
}
input {
  line-height: normal;
}
label,
button {
  cursor: pointer;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
/* using rem unit */
html {
  font-size: 62.5%;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1;
}

.btndrop {
  --primary: #de4b3e;
  --secondary: #c74237;
  width: 100%;
  max-width: 400px;
  margin: 25px auto;
  position: relative;
  color: white;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: bold;
  border-radius: 4px;
}
.btndrop__select {
  border-radius: inherit;
}
.btndrop__select * {
  pointer-events: none;
}
.btndrop__list {
  margin-top: 2.5rem;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  display: none;
  z-index: 10;
}
.btndrop__list.show {
  display: block;
}
.btndrop__list:before {
  content: "";
  height: 2.5rem;
  position: absolute;
  left: 0;
  right: 0;
  background-color: transparent;
  transform: translateY(-100%);
}
.btndrop__select,
.btndrop__item {
  width: 100%;
  padding: 2rem;
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.btndrop__item {
  transition: background-color 0.2s linear;
}
.btndrop__item * {
  pointer-events: none;
}
.btndrop__item:first-child {
  border-radius: 4px 4px 0 0;
  position: relative;
}
.btndrop__item:first-child:before {
  content: "";
  position: absolute;
  top: 0;
  left: 3rem;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid var(--primary);
  transform: translateY(-100%);
  transition: border-color 0.2s linear;
}
.btndrop__item:first-child:hover:before {
  border-bottom-color: var(--secondary);
}
.btndrop__item:last-child {
  border-radius: 0 0 4px 4px;
}
.btndrop__item:hover {
  background-color: var(--secondary);
}
