$green-color: #00c899;
@mixin size($width, $height: $width) {
    width: $width;
    height: $height;
}
@mixin flexbox(
    $align: flex-start,
    $justify: flex-start,
    $flex-direction: row,
    $wrap: nowrap
) {
    display: flex;
    align-items: $align;
    justify-items: $justify;
    flex-direction: $flex-direction;
    flex-wrap: $wrap;
}
html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    font-weight: normal;
    display: flex;
    align-items: center;
    flex-direction: column;
}
a {
    text-decoration: none;
}
img {
    display: block;
    max-width: 100%;
}
.profile {
    width: 80%;
    height: 100vh;
    &-head {
        width: 100%;
        height: 30rem;
        background: url(/public/image/profilehead.png) repeat-x;
        background-size: auto 100%;
        ::before {
            content: "";
            background-color: rgb(223 71 89 / 50%);
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
    }
    &-content{
        width: 100%;
        height: 100vh;
        display: flex;
        &_img{
            width: 30%;
            background: #000;
            &_pic{
                display: flex;
                justify-content: center;
                align-items: center;
                
            }
        }
        &_infor{
            width: 70%;
            background: #2fa1c7;
        }

    }
}

