:root {
  --color1: #efb2fb;
  --color2: #acc6f8;
}

html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: normal;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #f9fbfd;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

p {
  font-weight: 400;
  font-size: 18px;
  padding: 1em;
  background: rgba(0, 0, 0, 0.3);
  margin-top: 0;
  animation: rubberBand 1.5s linear 3s 1;
}

.cardcontainer {
  width: 100%;
  height: 100vh;
  background-color: #595265;
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  padding: 1rem 1rem;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 6.8rem;
  transform: translate3d(0.1px, 0.1px, 0.1px);
}

.card {
  margin: 1rem;
  position: relative;
  box-shadow: 0 3rem 2rem rgba(85, 85, 85, 0.3333333333);
  transition: transform 0.5s ease, box-shadow 0.2s ease;
  will-change: transform, filter;
  background-color: #040712;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transform-origin: center;
  overflow: hidden;
}
.card:hover {
  box-shadow: -20px -20px 30px -25px var(--color1), 20px 20px 30px -25px var(--color2), -7px -7px 10px -5px var(--color1), 7px 7px 10px -5px var(--color2), 0 0 13px 4px rgba(255, 255, 255, 0.3), 0 55px 35px -20px rgba(0, 0, 0, 0.5);
}
.card * {
  pointer-events: none;
}
.card-content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  padding: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  color: #665044;
}
.card-content .invitation {
  font-family: "Smooch Sans";
  font-weight: 700;
  font-size: 4rem;
  line-height: 2.7rem;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0.1rem;
  -webkit-text-stroke-color: #665044;
  letter-spacing: 0.5rem;
}
.card-content .savethedate {
  font-family: "Quicksand";
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.7rem;
  word-spacing: 0.4rem;
}
.card-content .couplename {
  font-family: "Ephesis", cursive;
  font-weight: 500;
  font-size: 5rem;
  line-height: 2.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.card-content .couplename * {
  margin-bottom: 2rem;
}
.card-content .couplename .husband {
  text-align: left;
}
.card-content .couplename .wife {
  text-align: right;
}
.card-content .invite {
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2.7rem;
  text-transform: uppercase;
}
.card-content .invitename {
  font-family: "Smooch Sans";
  font-weight: 500;
  font-size: 5rem;
  line-height: 2.7rem;
}
.card-content .des {
  font-family: "Quicksand";
  font-weight: 400;
  font-size: 1.6rem;
  word-spacing: 0.4rem;
}
.card-content .address {
  font-family: "Quicksand";
  font-weight: 600;
  font-size: 1.8rem;
}
.card-content .time,
.card-content .day {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 1.8rem;
}
.card-content .end {
  font-family: "Ephesis", cursive;
  font-weight: 400;
  font-size: 2rem;
}

.card:before,
.card:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-repeat: no-repeat;
  opacity: 0.5;
  mix-blend-mode: color-dodge;
  transition: all 0.33s ease;
}

.card:before {
  background-position: 50% 50%;
  background-size: 300% 300%;
  background-image: linear-gradient(115deg, transparent 0%, var(--color1) 25%, transparent 47%, transparent 53%, var(--color2) 75%, transparent 100%);
  opacity: 0.5;
  filter: brightness(0.5) contrast(1);
  z-index: 1;
}

.card:after {
  opacity: 1;
  background-image: url("https://assets.codepen.io/13471/sparkles.gif"), url(https://assets.codepen.io/13471/holo.png), linear-gradient(125deg, rgba(255, 0, 132, 0.3137254902) 15%, rgba(252, 164, 0, 0.2509803922) 30%, rgba(255, 255, 0, 0.1882352941) 40%, rgba(0, 255, 138, 0.1254901961) 60%, rgba(0, 207, 255, 0.2509803922) 70%, rgba(204, 76, 250, 0.3137254902) 85%);
  background-position: 50% 50%;
  background-size: 120%;
  background-blend-mode: overlay;
  z-index: 2;
  filter: brightness(1) contrast(1);
  transition: all 0.33s ease;
  mix-blend-mode: color-dodge;
}

.card.active:after,
.card:hover:after {
  filter: brightness(1) contrast(1);
  opacity: 1;
}

.card.active,
.card:hover {
  animation: none;
  transition: box-shadow 0.1s ease-out;
}

.card.active:before,
.card:hover:before {
  animation: none;
  background-image: linear-gradient(110deg, transparent 25%, var(--color1) 48%, var(--color2) 52%, transparent 75%);
  background-position: 50% 50%;
  background-size: 250% 250%;
  opacity: 0.88;
  filter: brightness(0.66) contrast(1.33);
  transition: none;
}

.card.active:before,
.card:hover:before,
.card.active:after,
.card:hover:after {
  animation: none;
  transition: none;
}

.card.animated {
  transition: none;
  animation: holoCard 12s ease 0s infinite;
}
.card.animated:before {
  transition: none;
  animation: holoGradient 12s ease 0s infinite;
}
.card.animated:after {
  transition: none;
  animation: holoSparkle 12s ease 0s infinite;
}

@keyframes holoSparkle {
  0%, 100% {
    opacity: 0.75;
    background-position: 50% 50%;
    filter: brightness(1.2) contrast(1.25);
  }
  5%, 8% {
    opacity: 1;
    background-position: 40% 40%;
    filter: brightness(0.8) contrast(1.2);
  }
  13%, 16% {
    opacity: 0.5;
    background-position: 50% 50%;
    filter: brightness(1.2) contrast(0.8);
  }
  35%, 38% {
    opacity: 1;
    background-position: 60% 60%;
    filter: brightness(1) contrast(1);
  }
  55% {
    opacity: 0.33;
    background-position: 45% 45%;
    filter: brightness(1.2) contrast(1.25);
  }
}
@keyframes holoGradient {
  0%, 100% {
    opacity: 0.5;
    background-position: 50% 50%;
    filter: brightness(0.5) contrast(1);
  }
  5%, 9% {
    background-position: 100% 100%;
    opacity: 1;
    filter: brightness(0.75) contrast(1.25);
  }
  13%, 17% {
    background-position: 0% 0%;
    opacity: 0.88;
  }
  35%, 39% {
    background-position: 100% 100%;
    opacity: 1;
    filter: brightness(0.5) contrast(1);
  }
  55% {
    background-position: 0% 0%;
    opacity: 1;
    filter: brightness(0.75) contrast(1.25);
  }
}
@keyframes holoCard {
  0%, 100% {
    transform: rotateZ(0deg) rotateX(0deg) rotateY(0deg);
  }
  5%, 8% {
    transform: rotateZ(0deg) rotateX(6deg) rotateY(-20deg);
  }
  13%, 16% {
    transform: rotateZ(0deg) rotateX(-9deg) rotateY(32deg);
  }
  35%, 38% {
    transform: rotateZ(3deg) rotateX(12deg) rotateY(20deg);
  }
  55% {
    transform: rotateZ(-3deg) rotateX(-12deg) rotateY(-27deg);
  }
}
@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}
.buttonwrap {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 1rem;
}
.buttonwrap button {
  margin: 0 0.5rem;
  padding: 0.6rem 1.2rem;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2rem;
  background-color: #212529;
  border: none;
  color: white;
  border-radius: 0.3rem;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
